// import variables 
@use "../../css/scss/variables" as * ;

// import global 
@use "../../css/scss/global" as * ;

// import header 
@use "../../css/scss/header" as * ;

// import footer 
@use "../../css/scss/footer" as * ;

//  global style


//Map section 
.map{
    max-width: 1199px;
    height: 501px;
    width:100%;
    background: #292F36;
    border-radius: 70px;
    overflow:hidden;
    iframe{
        width:100%;
        height:100%;
        filter:invert(100%)    ;
        -webkit-filter:invert(100%)    ;
    }
}






