// import variables 
@use "../../../css/scss/variables" as * ;

// import global 
@use "../../../css/scss/global" as * ;

// import header 
@use "../../../css/scss/header" as * ;

// import footer 
@use "../../../css/scss/footer" as * ;

//  global style
body{
    counter-reset: num 0;

}

//details section
.details{
    display: flex;
    justify-content: center;
    align-items: center;
    .details-content{
        display: flex;
        flex-wrap:wrap;
        // justify-content: center;
        align-items: flex-start;
        gap: 95px;
        max-width: 1201px;
        min-height: 471px;
        .details-head{
            max-width: 449px;
            height: 189px;
            letter-spacing: normal;
            display: flex;
            align-items: center;
        }
        .sub-content{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 0px;
            gap: 28px;
            max-width: 655px;
            height: 471px;
            // min-height: 471px;
            .f-25{
                font-size: 25px;
                letter-spacing: 0.01em;
            }
            .color{
                color: #CDA274;
            }
        }
    }

}

// start client-logo style
.client-logo{
    margin-top:150px;
    .client-logo-content{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0px;
        gap: 108px;
        padding-left: 54px;
        padding-right: 54px;
        flex-wrap:wrap;
        .client-logo-item{
            display: flex;
            justify-content: center;
            align-items: center;
            &:nth-child(1){
                width: 131.28px;
                height: 42.37px;
            }
            &:nth-child(2){
                width: 102.32px;
                height: 102.32px;
            }
            &:nth-child(3){
                width: 163.38px;
                height: 42.78px;
            }
            &:nth-child(4){
                width: 144.7px;
                height: 44.06px;
            }
            &:nth-child(5){
                width: 116.71px;
                height: 47.16px;
            }
            
        }
    }
}

//video section style
.video{
    max-width: 1200px;
    height: 374px;
    position: relative;
    .img{
        width:100%;
        height:100%;
        background: #292F36;
        border-radius: 70px;
        overflow:hidden;
        img{
            width:100%;
            height:100%;
        }

    }
    .play-btn{
        position: absolute;
        width: 132px;
        height: 132px;
        left: 50%;
        top: 50%;
        background: #FFFFFF;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor:pointer;
        filter: drop-shadow(0px 10px 20px rgba(192, 192, 192, 0.25));
        -webkit-filter: drop-shadow(0px 10px 20px rgba(192, 192, 192, 0.25));
        transform:translate(-50% , -50% )    ;
        -webkit-transform:translate(-50% , -50% )    ;
        -moz-transform:translate(-50% , -50% )    ;
        -ms-transform:translate(-50% , -50% )    ;
        -o-transform:translate(-50% , -50% )    ;
         border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        }
}

// points style
.points{
    min-height: 347px;
    max-width: 1036px;
    padding: 0px;
    .points-content{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap:wrap;
        gap: 83px;
        .point{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 0px;
            gap: 23px;
            max-width: 435px;
            min-height: 347px;
            .head{
                // width: 331px;
                height: 63px;
            }
            .point-list{
                height: 261px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                .point-list-item{
                    margin-left:23px;
                    position: relative;
                    // &:before{
                    //     position: absolute;
                    //     width: 5.39px;
                    //     height: 25px;
                    //     left: -23px;
                    //     top:50%;
                    //     font-family: 'DM Serif Display';
                    //     font-style: normal;
                    //     font-weight: 400;
                    //     font-size: 20px;
                    //     line-height: 125%;
                    //     /*identicaltoboxheight,or25px*/display: flex;
                    //     align-items: center;
                    //     letter-spacing: 0.02em;
                    //     color: #CDA274;
                    //     transform: translateY(-50%) ;
                    //     -webkit-transform: translateY(-50%) ;
                    //     -moz-transform: translateY(-50%) ;
                    //     -ms-transform: translateY(-50%) ;
                    //     -o-transform: translateY(-50%) ;
                    //     }
                }
                &.f{
                    .point-list-item{
                        &:before{
                            counter-increment:num;
                            content: counter(num);
                            position: absolute;
                            width: 5.39px;
                            height: 25px;
                            left: -23px;
                            top:50%;
                            font-family: 'DM Serif Display';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 20px;
                            line-height: 125%;
                            /*identicaltoboxheight,or25px*/display: flex;
                            align-items: center;
                            letter-spacing: 0.02em;
                            color: #CDA274;
                            transform: translateY(-50%) ;
                            -webkit-transform: translateY(-50%) ;
                            -moz-transform: translateY(-50%) ;
                            -ms-transform: translateY(-50%) ;
                            -o-transform: translateY(-50%) ;
                            
                        }
                    }
                }
            }
        }
    }
}







