// import variables 
@use "../../../css/scss/variables" as * ;

// import global 
@use "../../../css/scss/global" as * ;

// import header 
@use "../../../css/scss/header" as * ;

// import footer 
@use "../../../css/scss/footer" as * ;

//  global style

//details section
.details{
    display: flex;
    justify-content: center;
    align-items: center;
    .details-content{
        display: flex;
        flex-wrap:wrap;
        // justify-content: center;
        align-items: flex-start;
        gap: 95px;
        max-width: 1201px;
        min-height: 471px;
        .details-head{
            max-width: 449px;
            height: 189px;
            letter-spacing: normal;
            display: flex;
            align-items: center;
        }
        .sub-content{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 0px;
            gap: 28px;
            max-width: 655px;
            height: 471px;
            // min-height: 471px;
            .f-25{
                font-size: 25px;
                letter-spacing: 0.01em;
            }
            .color{
                color: #CDA274;
            }
        }
    }

}

// start client-logo style
.client-logo{
    margin-top:150px;
    .client-logo-content{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0px;
        gap: 108px;
        padding-left: 54px;
        padding-right: 54px;
        flex-wrap:wrap;
        .client-logo-item{
            display: flex;
            justify-content: center;
            align-items: center;
            &:nth-child(1){
                width: 131.28px;
                height: 42.37px;
            }
            &:nth-child(2){
                width: 102.32px;
                height: 102.32px;
            }
            &:nth-child(3){
                width: 163.38px;
                height: 42.78px;
            }
            &:nth-child(4){
                width: 144.7px;
                height: 44.06px;
            }
            &:nth-child(5){
                width: 116.71px;
                height: 47.16px;
            }
            
        }
    }
}

//video section style
.video{
    max-width: 1200px;
    height: 374px;
    position: relative;
    .img{
        width:100%;
        height:100%;
        background: #292F36;
        border-radius: 70px;
        overflow:hidden;
        img{
            width:100%;
            height:100%;
        }

    }
    .play-btn{
        position: absolute;
        width: 132px;
        height: 132px;
        left: 50%;
        transform:tr
        top: 50%;
        filter: drop-shadow(0px 10px 20px rgba(192, 192, 192, 0.25));
    }
}








