// import variables 
@use "../../../css/scss/variables" as * ;

// import global 
@use "../../../css/scss/global" as * ;

// import header 
@use "../../../css/scss/header" as * ;

// import footer 
@use "../../../css/scss/footer" as * ;

//  global style

//details section
.details{
    display: flex;
    justify-content: center;
    align-items: center;
    .details-content{
        display: flex;
        flex-wrap:wrap;
        // justify-content: center;
        align-items: flex-start;
        gap: 95px;
        max-width: 1201px;
        min-height: 471px;
        .details-head{
            max-width: 449px;
            height: 189px;
            letter-spacing: normal;
            display: flex;
            align-items: center;
        }
        .sub-content{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 0px;
            gap: 28px;
            max-width: 655px;
            height: 471px;
            // min-height: 471px;
            .f-25{
                font-size: 25px;
                letter-spacing: 0.01em;
            }
            .color{
                color: #CDA274;
            }
        }
    }

}










