// import variables 
@use "../../css/scss/variables" as * ;

// import global 
@use "../../css/scss/global" as * ;

// import header 
@use "../../css/scss/header" as * ;

// import footer 
@use "../../css/scss/footer" as * ;

//  global style
.project-heading{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 8px;
    max-width: 737px;
    min-height: 137px;
    .head{
        max-width: 452px;
        width: fit-content;
        min-height: 63px;
    }
    .desc{
        max-width: 737px;
        min-height: 66px;
        width:fit-content;
        text-align: center;
        
    }
}
// start bunner style
.banner{
    margin-top: 45px;
    height: 1042px;
    .banner-content{
        // background-image: url(../images/banner/Images.png);
        background-image: url(../images/banner/Image.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        height: 1042px;
        position: relative;
        .banner-intro{
            // margin-top: 330px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 0px;
            gap: 21px;
            position: absolute;
            top: 330px;
            left: 10%;
            .intro-sub-content{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                padding: 0px;
                gap: 9px;
                max-width: 567px;
                .intro-head {
                    // margin-top: 139px;
                    line-height: 125%;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 85px;
                    max-width: 567px;
                    // max-height: 212px;
                }
                .intro-text {
                    font-family: 'Jost';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 22px;
                    line-height: 150%;
                    display: flex;
                    align-items: center;
                    letter-spacing: 0.01em;
                    color: #4D5053;
                    // margin-bottom: 21px;
                }
        }
        }
    }
}


