* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "DM Serif Display", serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

.container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.marg-200 {
  margin-top: 200px;
}

.marg-150 {
  margin-top: 150px;
}

.button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 219.14px;
  height: 75px;
  background: #292F36;
  box-shadow: 0px 10px 20px rgba(192, 192, 192, 0.35);
  border-radius: 18px;
  border: 2px solid #292f36;
  cursor: pointer;
}
.button .btn {
  cursor: pointer;
  min-width: 123.14px;
  height: 23px;
  font-family: "Jost";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 125%;
  /* identical to box height, or 22px */
  display: flex;
  align-items: center;
  text-align: center;
  gap: 10px;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  background-color: transparent;
  border: none;
  text-transform: capitalize;
}
.button .btn img {
  width: 15.14px;
  height: 13.18px;
}
.button:hover {
  background-color: #fff;
  color: #292f36;
}
.button:hover .btn {
  color: #292f36;
}

.capitalize {
  text-transform: capitalize;
}

.desc {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 150%;
  /* or 33px */
  letter-spacing: 0.01em;
  color: #4D5053;
}

.head {
  font-family: "DM Serif Display";
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 125%;
  /* or 62px */
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
  color: #292F36;
}

@media (max-width: 575px) {
  .head {
    font-size: 30px;
  }
}
.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.banner {
  position: relative;
  width: 100%;
  height: 356px;
}
.banner img {
  width: 100%;
  height: 100%;
}
.banner .banner-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 503px;
  max-width: 503px;
  height: 178px;
  background: #FFFFFF;
  border-radius: 37px 37px 0px 0px;
}
.banner .banner-box .intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px;
  min-width: 199px;
  height: 96px;
}
@media (max-width: 575px) {
  .banner .banner-box {
    width: 75%;
  }
}

header {
  margin-top: 44px;
  margin-bottom: 45px;
}
header .logo {
  height: 50px;
  width: 177px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header nav {
  gap: 30px;
}
header nav .menu-list {
  width: 572px;
  font-family: Jost;
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: center;
  color: #292F36;
}
header nav .menu-list .menu-list-item {
  cursor: pointer;
}
header nav .menu-list .menu-list-item a {
  font-size: 20px;
  color: #292F36;
}
header nav .menu-list .menu-list-item.active a {
  color: #CDA274;
}
header nav .menu-list .menu-list-item:hover a {
  color: #CDA274;
}
header nav .bar {
  display: none;
}
header nav .search, header nav .bar {
  height: 21.0001068115px;
  width: 20.9993572235px;
  border-radius: 0px;
  cursor: pointer;
}
header nav .search {
  position: relative;
}
header nav .search .input-search {
  position: absolute;
  right: 0;
  top: 31px;
  padding: 5px;
  border: 1px solid;
  border-radius: 5px;
  caret-color: #CDA274;
  z-index: 1000;
  display: none;
}
header nav .search .show-input-search {
  display: inline-block;
}
header nav .search img {
  color: #CDA274;
}

@media (max-width: 991px) {
  header nav .menu-list {
    position: absolute;
    flex-direction: column;
    top: 139px;
    right: 0;
    left: 0;
    width: 100vw;
    background-color: #f4f0ec;
    gap: 30px;
    padding: 20px;
    z-index: 10000;
    transition: 400ms;
    height: 0;
    overflow: hidden;
    padding: 0;
    -webkit-transition: 400ms;
    -moz-transition: 400ms;
    -ms-transition: 400ms;
    -o-transition: 400ms;
  }
  header nav .menu-list .menu-list-item {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
  }
  header nav .bar {
    display: block;
  }
  header nav .show-menu-list {
    height: 351px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 134px;
  margin-top: 135px;
}
footer .intro {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 101px;
  max-width: 1199px;
  min-height: 370px;
  flex-wrap: wrap;
}
footer .intro .content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 9px;
  flex: 1;
}
footer .intro .content .list {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 300%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  letter-spacing: 0.01em;
  color: #4D5053;
}
footer .intro .intro-content {
  gap: 31px;
  max-width: 393px;
  min-height: 188px;
}
footer .intro .intro-content .sub-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 18px;
  max-width: 393px;
  min-height: 134px;
}
footer .intro .intro-content .sub-content .logo {
  width: 177px;
  height: 50px;
}
footer .intro .intro-content .icons-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 54px;
  width: 225px;
  height: 23px;
}
footer .intro .intro-content .icons-list .list-item a {
  width: 17px;
  height: 23px;
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 120%;
  /* identical to box height, or 23px */
  text-align: center;
  letter-spacing: 0.055em;
  text-transform: uppercase;
  color: #292F36;
}
footer .intro .intro-content .icons-list .list-item a i {
  width: 17px;
  height: 23px;
}
footer .intro .pages-content {
  width: 125px;
  height: 370px;
}
footer .intro .pages-content .pages-list {
  width: 125px;
  height: 330px;
}
footer .intro .services-conent {
  width: 120px;
  height: 370px;
}
footer .intro .services-conent .services-list {
  width: 120px;
  height: 330px;
}
footer .intro .contact-content {
  gap: 26px;
  width: 258px;
  height: 272px;
}
footer .intro .contact-content .contact-list {
  width: 258px;
  height: 215px;
  line-height: 150%;
}
footer .intro .head {
  font-size: 22px;
}
footer .intro a {
  color: #4D5053;
}
footer .copyright {
  height: 73px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
footer .copyright a {
  margin-left: 7px;
  text-transform: capitalize;
  font-family: "Pushster", cursive;
  color: #CDA274;
}

body {
  counter-reset: num 0 num2;
}

.details {
  display: flex;
  justify-content: center;
  align-items: center;
}
.details .details-content {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 95px;
  max-width: 1201px;
  min-height: 471px;
}
.details .details-content .details-head {
  max-width: 449px;
  height: 189px;
  letter-spacing: normal;
  display: flex;
  align-items: center;
}
.details .details-content .sub-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 28px;
  max-width: 655px;
  height: 471px;
}
.details .details-content .sub-content .f-25 {
  font-size: 25px;
  letter-spacing: 0.01em;
}
.details .details-content .sub-content .color {
  color: #CDA274;
}

.client-logo {
  margin-top: 150px;
}
.client-logo .client-logo-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 108px;
  padding-left: 54px;
  padding-right: 54px;
  flex-wrap: wrap;
}
.client-logo .client-logo-content .client-logo-item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.client-logo .client-logo-content .client-logo-item:nth-child(1) {
  width: 131.28px;
  height: 42.37px;
}
.client-logo .client-logo-content .client-logo-item:nth-child(2) {
  width: 102.32px;
  height: 102.32px;
}
.client-logo .client-logo-content .client-logo-item:nth-child(3) {
  width: 163.38px;
  height: 42.78px;
}
.client-logo .client-logo-content .client-logo-item:nth-child(4) {
  width: 144.7px;
  height: 44.06px;
}
.client-logo .client-logo-content .client-logo-item:nth-child(5) {
  width: 116.71px;
  height: 47.16px;
}

.video {
  max-width: 1200px;
  height: 374px;
  position: relative;
}
.video .img {
  width: 100%;
  height: 100%;
  background: #292F36;
  border-radius: 70px;
  overflow: hidden;
}
.video .img img {
  width: 100%;
  height: 100%;
}
.video .play-btn {
  position: absolute;
  width: 132px;
  height: 132px;
  left: 50%;
  top: 50%;
  background: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  filter: drop-shadow(0px 10px 20px rgba(192, 192, 192, 0.25));
  -webkit-filter: drop-shadow(0px 10px 20px rgba(192, 192, 192, 0.25));
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.points {
  min-height: 347px;
  max-width: 1036px;
  padding: 0px;
}
.points .points-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  gap: 83px;
}
.points .points-content .point {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 23px;
  max-width: 435px;
  height: 347px;
}
.points .points-content .point .head {
  height: 63px;
}
.points .points-content .point .point-list {
  height: 261px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.points .points-content .point .point-list .point-list-item {
  margin-left: 23px;
  position: relative;
}
.points .points-content .point .point-list.first .point-list-item:after, .points .points-content .point .point-list.second .point-list-item:after {
  position: absolute;
  width: 5.39px;
  height: 25px;
  left: -23px;
  top: 50%;
  font-family: "DM Serif Display";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 125%;
  /*identicaltoboxheight,or25px*/
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
  color: #CDA274;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
.points .points-content .point .point-list.first .point-list-item:after {
  counter-increment: num;
  content: counter(num);
}
.points .points-content .point .point-list.second .point-list-item:after {
  counter-increment: num2;
  content: counter(num2);
}
.points .points-content .line {
  width: 0px;
  height: 249px;
  border: 1px solid #CECECE;
}
@media (max-width: 1036px) {
  .points .points-content {
    justify-content: center;
  }
  .points .points-content .line {
    display: none;
  }
}

.what {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 82px;
  min-height: 377px;
}
.what .what-content,
.what .what-img {
  flex: 1;
}
.what .what-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 41px;
  max-width: 518px;
  min-height: 334px;
}
.what .what-content .sub-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 23px;
  max-width: 500px;
  min-height: 218px;
}
.what .what-content .button {
  width: 220.14px;
  height: 75px;
}
.what .what-img {
  max-width: 600px;
  min-width: 300px;
  height: 377px;
  background: #C4C4C4;
  border-radius: 70px;
  overflow: hidden;
}
.what .what-img img {
  width: 100%;
  height: 100%;
}

.counter {
  background: #F4F0EC;
  padding-top: 151px;
  padding-bottom: 151px;
}
.counter .counter-content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 76px;
}
.counter .counter-content .counter-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 16px;
  width: 192px;
  height: 155px;
}
.counter .counter-content .counter-item .counter-num {
  color: #CDA274;
  font-size: 85px;
}
.counter .counter-content .line {
  width: 0px;
  height: 130px;
  border: 1px solid #CDA274;
}
@media (max-width: 1920px) {
  .counter .counter-content {
    gap: 50px;
  }
}/*# sourceMappingURL=style.css.map */