* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "DM Serif Display", serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

.container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.marg-200 {
  margin-top: 200px;
}

.marg-150 {
  margin-top: 150px;
}

.button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 219.14px;
  height: 75px;
  background: #292F36;
  box-shadow: 0px 10px 20px rgba(192, 192, 192, 0.35);
  border-radius: 18px;
  border: 2px solid #292f36;
  cursor: pointer;
}
.button .btn {
  min-width: 123.14px;
  height: 23px;
  font-family: "Jost";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 125%;
  /* identical to box height, or 22px */
  display: flex;
  align-items: center;
  text-align: center;
  gap: 10px;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  background-color: transparent;
  border: none;
  text-transform: capitalize;
}
.button .btn img {
  width: 15.14px;
  height: 13.18px;
}
.button:hover {
  background-color: #fff;
  color: #292f36;
}
.button:hover .btn {
  color: #292f36;
}

.capitalize {
  text-transform: capitalize;
}

.desc {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 150%;
  /* or 33px */
  letter-spacing: 0.01em;
  color: #4D5053;
}

.head {
  font-family: "DM Serif Display";
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 125%;
  /* or 62px */
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
  color: #292F36;
}

@media (max-width: 575px) {
  .head {
    font-size: 30px;
  }
}
.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.banner {
  position: relative;
  width: 100%;
  height: 356px;
}
.banner img {
  width: 100%;
  height: 100%;
}
.banner .banner-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 503px;
  max-width: 503px;
  height: 178px;
  background: #FFFFFF;
  border-radius: 37px 37px 0px 0px;
}
.banner .banner-box .intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px;
  min-width: 199px;
  height: 96px;
}
@media (max-width: 575px) {
  .banner .banner-box {
    width: 75%;
  }
}

header {
  margin-top: 44px;
  margin-bottom: 45px;
}
header .logo {
  height: 50px;
  width: 177px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header nav {
  gap: 30px;
}
header nav .menu-list {
  width: 572px;
  font-family: Jost;
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: center;
  color: #292F36;
}
header nav .menu-list .menu-list-item {
  cursor: pointer;
}
header nav .menu-list .menu-list-item a {
  font-size: 20px;
  color: #292F36;
}
header nav .menu-list .menu-list-item.active a {
  color: #CDA274;
}
header nav .menu-list .menu-list-item:hover a {
  color: #CDA274;
}
header nav .bar {
  display: none;
}
header nav .search, header nav .bar {
  height: 21.0001068115px;
  width: 20.9993572235px;
  border-radius: 0px;
  cursor: pointer;
}
header nav .search {
  position: relative;
}
header nav .search .input-search {
  position: absolute;
  right: 0;
  top: 31px;
  padding: 5px;
  border: 1px solid;
  border-radius: 5px;
  caret-color: #CDA274;
  z-index: 1000;
  display: none;
}
header nav .search .show-input-search {
  display: inline-block;
}
header nav .search img {
  color: #CDA274;
}

@media (max-width: 991px) {
  header nav .menu-list {
    position: absolute;
    flex-direction: column;
    top: 139px;
    right: 0;
    left: 0;
    width: 100vw;
    background-color: #f4f0ec;
    gap: 30px;
    padding: 20px;
    z-index: 10000;
    transition: 400ms;
    height: 0;
    overflow: hidden;
    padding: 0;
    -webkit-transition: 400ms;
    -moz-transition: 400ms;
    -ms-transition: 400ms;
    -o-transition: 400ms;
  }
  header nav .menu-list .menu-list-item {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
  }
  header nav .bar {
    display: block;
  }
  header nav .show-menu-list {
    height: 351px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 134px;
  margin-top: 135px;
}
footer .intro {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 101px;
  max-width: 1199px;
  min-height: 370px;
  flex-wrap: wrap;
}
footer .intro .content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 9px;
  flex: 1;
}
footer .intro .content .list {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 300%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  letter-spacing: 0.01em;
  color: #4D5053;
}
footer .intro .intro-content {
  gap: 31px;
  max-width: 393px;
  min-height: 188px;
}
footer .intro .intro-content .sub-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 18px;
  max-width: 393px;
  min-height: 134px;
}
footer .intro .intro-content .sub-content .logo {
  width: 177px;
  height: 50px;
}
footer .intro .intro-content .icons-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 54px;
  width: 225px;
  height: 23px;
}
footer .intro .intro-content .icons-list .list-item a {
  width: 17px;
  height: 23px;
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 120%;
  /* identical to box height, or 23px */
  text-align: center;
  letter-spacing: 0.055em;
  text-transform: uppercase;
  color: #292F36;
}
footer .intro .intro-content .icons-list .list-item a i {
  width: 17px;
  height: 23px;
}
footer .intro .pages-content {
  width: 125px;
  height: 370px;
}
footer .intro .pages-content .pages-list {
  width: 125px;
  height: 330px;
}
footer .intro .services-conent {
  width: 120px;
  height: 370px;
}
footer .intro .services-conent .services-list {
  width: 120px;
  height: 330px;
}
footer .intro .contact-content {
  gap: 26px;
  width: 258px;
  height: 272px;
}
footer .intro .contact-content .contact-list {
  width: 258px;
  height: 215px;
  line-height: 150%;
}
footer .intro .head {
  font-size: 22px;
}
footer .intro a {
  color: #4D5053;
}
footer .copyright {
  height: 73px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
footer .copyright a {
  margin-left: 7px;
  text-transform: capitalize;
  font-family: "Pushster", cursive;
  color: #CDA274;
}

.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 88px;
  max-width: 1158px;
  min-height: 704px;
}
.services .services-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 42px;
  width: 100%;
  min-height: 225px;
}
.services .services-content.heigh {
  min-height: 391px;
  align-items: center;
}
.services .services-content.heigh .service {
  justify-content: center;
  gap: 10px;
  width: 398px;
  height: 391px;
  border-radius: 30px;
}
.services .services-content .service {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 52px;
  width: 358px;
  height: 225px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.services .services-content .service .service-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 52px;
  width: 358px;
  height: 225px;
}
.services .services-content .service .service-items .sub-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 20px;
  width: 358px;
  height: 150px;
  text-align: center;
}
.services .services-content .service .service-items .sub-content .head {
  min-width: 133px;
  height: 31px;
  font-size: 25px;
  letter-spacing: normal;
}
.services .services-content .service .service-items .sub-content .desc {
  width: 358px;
  height: 99px;
  font-size: 22px;
}
.services .services-content .service .service-items .button {
  gap: 12px;
  width: 120.14px;
  height: 23px;
  background-color: transparent;
  border: none;
  box-shadow: none;
}
.services .services-content .service .service-items .button .btn {
  width: 93px;
  height: 23px;
  font-size: 18px;
  color: #4D5053;
}
.services .services-content .service.active {
  background: #F4F0EC;
}

.how-work {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 160px 116px;
  gap: 10px;
  max-width: 1199px;
  min-height: 2718.42px;
  background: #F4F0EC;
  border-radius: 70px;
}
.how-work .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 100px;
  max-width: 967px;
  min-height: 2398.42px;
}
.how-work .content .heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  max-width: 802px;
  min-height: 146px;
  text-align: center;
}
.how-work .content .heading .head {
  max-width: 569px;
  height: 80px;
  align-items: flex-start;
}
.how-work .content .heading .desc {
  width: 100%;
  min-height: 66px;
}
.how-work .content .works {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 70px;
  max-width: 967px;
  min-height: 2152.42px;
}
.how-work .content .works .work-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 51px;
  max-width: 967px;
  min-height: 485.6px;
}
.how-work .content .works .work-item.special .item-content {
  order: -1;
}
.how-work .content .works .work-item .img {
  max-width: 485.6px;
  height: 453px;
  overflow: hidden;
  background: #C4C4C4;
  border-radius: 326.5px 0px 123px;
  border-radius: 0px 123px 0px 326.5px;
  -webkit-border-radius: 0px 123px 0px 326.5px;
  -moz-border-radius: 0px 123px 0px 326.5px;
  -ms-border-radius: 0px 123px 0px 326.5px;
  -o-border-radius: 0px 123px 0px 326.5px;
}
.how-work .content .works .work-item .img img {
  width: 100%;
  height: 100%;
}
.how-work .content .works .work-item .item-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 58px;
  max-width: 456px;
  height: 314px;
}
.how-work .content .works .work-item .item-content .icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  width: 100%;
  height: 102px;
}
.how-work .content .works .work-item .item-content .icon .icon-img {
  width: 92px;
  height: 92px;
}
.how-work .content .works .work-item .item-content .icon .icon-num {
  width: 107px;
  height: 102px;
  display: flex;
  align-items: center;
  text-align: center;
  /* or 150px */
}
.how-work .content .works .work-item .item-content .icon .icon-num .num {
  font-family: "DM Serif Display";
  font-style: normal;
  font-weight: 400;
  font-size: 120px;
  line-height: 125%;
  color: #FFFFFF;
}
.how-work .content .works .work-item .item-content .info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 11px;
  max-width: 456px;
  height: 154px;
}
.how-work .content .works .work-item .item-content .info .head {
  width: 288px;
  height: 44px;
  font-size: 35px;
  line-height: 125%;
  text-align: center;
}
.how-work .content .works .work-item .item-content .info .desc {
  width: 456px;
  height: 99px;
}

.contact {
  padding: 80px 30px;
  max-width: 1199px;
  min-height: 374px;
  background: #292F36;
  border-radius: 70px;
  display: flex;
  justify-content: center;
  align-content: center;
}
.contact .contact-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 32px;
  max-width: 569px;
  min-height: 214px;
}
.contact .contact-content .contact-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 11px;
  max-width: 569px;
  min-height: 107px;
  color: #FFFFFF;
}
.contact .contact-content .contact-info .head {
  max-width: 569px;
  min-height: 63px;
  text-align: center;
  color: #FFFFFF;
}
.contact .contact-content .contact-info .desc {
  max-width: 452px;
  min-height: 33px;
  color: #FFFFFF;
}
.contact .contact-content .button {
  padding: 26px 37px;
  gap: 10px;
  width: 237.14px;
  height: 75px;
  background: #CDA274;
  box-shadow: 0px 10px 20px #1F2022;
  border-radius: 18px;
}
.contact .contact-content .button .btn {
  width: 163.14px;
  height: 23px;
  color: #FFFFFF;
}/*# sourceMappingURL=style.css.map */