* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "DM Serif Display", serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

.container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.marg-200 {
  margin-top: 200px;
}

.marg-150 {
  margin-top: 150px;
}

.button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 219.14px;
  height: 75px;
  background: #292F36;
  box-shadow: 0px 10px 20px rgba(192, 192, 192, 0.35);
  border-radius: 18px;
  border: 2px solid #292f36;
}
.button .btn {
  min-width: 123.14px;
  height: 23px;
  font-family: "Jost";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 125%;
  /* identical to box height, or 22px */
  display: flex;
  align-items: center;
  text-align: center;
  gap: 10px;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  background-color: transparent;
  border: none;
  text-transform: capitalize;
}
.button:hover {
  background-color: #fff;
  color: #292f36;
}
.button:hover .btn {
  color: #292f36;
}

.capitalize {
  text-transform: capitalize;
}

.desc {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 150%;
  /* or 33px */
  letter-spacing: 0.01em;
  color: #4D5053;
}

.head {
  font-family: "DM Serif Display";
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 125%;
  /* or 62px */
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
  color: #292F36;
}

@media (max-width: 575px) {
  .head {
    font-size: 30px;
  }
}
.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.banner {
  position: relative;
  width: 100%;
  height: 356px;
}
.banner img {
  width: 100%;
  height: 100%;
}
.banner .banner-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 503px;
  max-width: 503px;
  height: 178px;
  background: #FFFFFF;
  border-radius: 37px 37px 0px 0px;
}
.banner .banner-box .intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px;
  min-width: 199px;
  height: 96px;
}
@media (max-width: 575px) {
  .banner .banner-box {
    width: 75%;
  }
}

header {
  margin-top: 44px;
  margin-bottom: 45px;
}
header .logo {
  height: 50px;
  width: 177px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header nav {
  gap: 30px;
}
header nav .menu-list {
  width: 572px;
  font-family: Jost;
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: center;
  color: #292F36;
}
header nav .menu-list .menu-list-item {
  cursor: pointer;
}
header nav .menu-list .menu-list-item a {
  font-size: 20px;
  color: #292F36;
}
header nav .menu-list .menu-list-item.active a {
  color: #CDA274;
}
header nav .menu-list .menu-list-item:hover a {
  color: #CDA274;
}
header nav .bar {
  display: none;
}
header nav .search, header nav .bar {
  height: 21.0001068115px;
  width: 20.9993572235px;
  border-radius: 0px;
  cursor: pointer;
}
header nav .search {
  position: relative;
}
header nav .search .input-search {
  position: absolute;
  right: 0;
  top: 31px;
  padding: 5px;
  border: 1px solid;
  border-radius: 5px;
  caret-color: #CDA274;
  z-index: 1000;
  display: none;
}
header nav .search .show-input-search {
  display: inline-block;
}
header nav .search img {
  color: #CDA274;
}

@media (max-width: 991px) {
  header nav .menu-list {
    position: absolute;
    flex-direction: column;
    top: 139px;
    right: 0;
    left: 0;
    width: 100vw;
    background-color: #f4f0ec;
    gap: 30px;
    padding: 20px;
    z-index: 10000;
    transition: 400ms;
    height: 0;
    overflow: hidden;
    padding: 0;
    -webkit-transition: 400ms;
    -moz-transition: 400ms;
    -ms-transition: 400ms;
    -o-transition: 400ms;
  }
  header nav .menu-list .menu-list-item {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
  }
  header nav .bar {
    display: block;
  }
  header nav .show-menu-list {
    height: 351px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 134px;
  margin-top: 135px;
}
footer .intro {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 101px;
  max-width: 1199px;
  min-height: 370px;
  flex-wrap: wrap;
}
footer .intro .content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 9px;
  flex: 1;
}
footer .intro .content .list {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 300%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  letter-spacing: 0.01em;
  color: #4D5053;
}
footer .intro .intro-content {
  gap: 31px;
  max-width: 393px;
  min-height: 188px;
}
footer .intro .intro-content .sub-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 18px;
  max-width: 393px;
  min-height: 134px;
}
footer .intro .intro-content .sub-content .logo {
  width: 177px;
  height: 50px;
}
footer .intro .intro-content .icons-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 54px;
  width: 225px;
  height: 23px;
}
footer .intro .intro-content .icons-list .list-item a {
  width: 17px;
  height: 23px;
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 120%;
  /* identical to box height, or 23px */
  text-align: center;
  letter-spacing: 0.055em;
  text-transform: uppercase;
  color: #292F36;
}
footer .intro .intro-content .icons-list .list-item a i {
  width: 17px;
  height: 23px;
}
footer .intro .pages-content {
  width: 125px;
  height: 370px;
}
footer .intro .pages-content .pages-list {
  width: 125px;
  height: 330px;
}
footer .intro .services-conent {
  width: 120px;
  height: 370px;
}
footer .intro .services-conent .services-list {
  width: 120px;
  height: 330px;
}
footer .intro .contact-content {
  gap: 26px;
  width: 258px;
  height: 272px;
}
footer .intro .contact-content .contact-list {
  width: 258px;
  height: 215px;
  line-height: 150%;
}
footer .intro .head {
  font-size: 22px;
}
footer .intro a {
  color: #4D5053;
}
footer .copyright {
  height: 73px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
footer .copyright a {
  margin-left: 7px;
  text-transform: capitalize;
  font-family: "Pushster", cursive;
  color: #CDA274;
}

.about {
  margin-top: 231px;
}
.about .about-quote {
  display: flex;
  justify-content: center;
  align-items: center;
}
.about .about-quote .quote-content {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 875.5px;
  min-height: 428px;
  border: 25px solid #F4F0EC;
  border-radius: 70px;
  -webkit-border-radius: 70px;
  -moz-border-radius: 70px;
  -ms-border-radius: 70px;
  -o-border-radius: 70px;
  padding: 67px 62px;
  padding: 5%;
  position: relative;
}
.about .about-quote .quote-content:before {
  content: "";
  position: absolute;
  width: 70%;
  height: 25px;
  background-color: #fff;
  top: -25px;
}
.about .about-quote .quote-content:after {
  content: "";
  position: absolute;
  width: 70%;
  height: 25px;
  background-color: #fff;
  bottom: -25px;
}
.about .about-quote .quote-content .pattern .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 751px;
  min-height: 294.25px;
}
.about .about-quote .quote-content .pattern .content .content-head {
  font-style: italic;
}
.about .about-quote .quote-content .pattern .content .mark {
  font-size: 85px;
  width: 30px;
  height: 62px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about .about-quote .quote-content .pattern .content .head-text {
  max-width: 751px;
  min-height: 132px;
  font-size: 35px;
  text-align: center;
}
.about .about-quote .quote-content .pattern .content .content-desc {
  margin-top: 27px;
  min-height: 39.25px;
  font-size: 25px;
}
@media (max-width: 676px) {
  .about .about-quote .quote-content .pattern .content .head-text {
    font-size: 25px;
  }
  .about .about-quote .quote-content .pattern .content .content-desc {
    font-size: 20px;
  }
}

@media (max-width: 575px) {
  .about {
    width: 100%;
  }
}
.what {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 41px;
  min-height: 377px;
}
.what .what-content,
.what .what-img {
  flex: 1;
}
.what .what-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 41px;
  max-width: 500px;
  min-height: 334px;
}
.what .what-content .sub-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 23px;
  max-width: 500px;
  min-height: 218px;
}
.what .what-content .button {
  width: 220.14px;
  height: 75px;
}
.what .what-img {
  max-width: 659px;
  min-width: 300px;
  height: 377px;
  background: #C4C4C4;
  border-radius: 70px;
  overflow: hidden;
}
.what .what-img img {
  width: 100%;
  height: 100%;
}

.team {
  margin-top: 173px;
  min-height: 968px;
  background: #F4F0EC;
  padding-top: 184px;
  padding-bottom: 184px;
}
.team .team-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  min-height: 599px;
}
.team .team-content .team-head {
  max-width: 547px;
  min-height: 126px;
}
.team .team-content .team-head .head {
  text-align: center;
}
.team .team-content .team-imgs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 22px;
  flex-wrap: wrap;
  min-height: 433px;
}
.team .team-content .team-imgs .team-img {
  flex: 1;
  min-width: 283.55px;
  max-width: 283.56px;
  width: 283.55px;
  height: 433px;
  background: #C4C4C4;
  border-radius: 30px;
  overflow: hidden;
}
.team .team-content .team-imgs .team-img img {
  width: 100%;
  height: 100%;
}
.team .team-content .team-imgs .team-img.team-info {
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.team .team-content .team-imgs .team-img.team-info .team-info-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 66px;
  width: 227.25px;
  height: 292.47px;
}
.team .team-content .team-imgs .team-img.team-info .team-info-content .intro {
  width: 227.25px;
  height: 63.47px;
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
}
.team .team-content .team-imgs .team-img.team-info .team-info-content .intro .head {
  font-size: 25px;
  line-height: 150%;
}
.team .team-content .team-imgs .team-img.team-info .team-info-content .intro .desc {
  font-size: 18px;
  line-height: 27px;
}
.team .team-content .team-imgs .team-img.team-info .team-info-content .icons-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 30px;
  width: 147.4px;
  height: 21.99px;
}
.team .team-content .team-imgs .team-img.team-info .team-info-content .icons-list .list-item a {
  width: 11.84px;
  height: 21.03px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  /* identical to box height, or 23px */
  text-align: center;
  letter-spacing: 0.055em;
  text-transform: uppercase;
  color: #292F36;
}
.team .team-content .team-imgs .team-img.team-info .team-info-content .icons-list .list-item a i {
  width: 17px;
  height: 23px;
}
.team .team-content .team-imgs .team-img.team-info .team-info-content .contact {
  width: 222.27px;
  height: 75.47px;
  text-align: center;
}
.team .team-content .team-imgs .team-img.team-info .team-info-content .contact .desc {
  font-size: 18px;
  line-height: 150%;
}

.mail-box {
  display: flex;
  justify-content: center;
  align-items: center;
}
.mail-box .mail-box-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 77px;
  max-width: 796px;
  min-height: 632px;
}
.mail-box .mail-box-content .mail-box-head {
  max-width: 635px;
  min-height: 126px;
}
.mail-box .mail-box-content .mail-box-head .head {
  text-align: center;
}
.mail-box .mail-box-content .mail-box-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 57px;
  max-width: 797px;
  min-height: 277px;
}
.mail-box .mail-box-content .mail-box-form .form-items {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 40px;
  width: 100%;
  min-height: 45px;
  flex-wrap: wrap;
}
.mail-box .mail-box-content .mail-box-form .form-items .form-item {
  max-width: 375px;
  width: 375px;
}
.mail-box .mail-box-content .mail-box-form .subject {
  width: 100%;
  max-width: 796px;
  height: 175px;
}
.mail-box .mail-box-content .mail-box-form input, .mail-box .mail-box-content .mail-box-form textarea {
  width: 100%;
  border: none;
  outline: none;
  border-bottom: 1px solid #000000;
}
.mail-box .mail-box-content .mail-box-form input {
  height: 45px;
}
.mail-box .mail-box-content .mail-box-form textarea {
  height: 175px;
}
.mail-box .mail-box-content .mail-box-form ::-moz-placeholder {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 150%;
  /* or 33px */
  letter-spacing: 0.01em;
  color: #4D5053;
  text-transform: capitalize;
}
.mail-box .mail-box-content .mail-box-form ::placeholder {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 150%;
  /* or 33px */
  letter-spacing: 0.01em;
  color: #4D5053;
  text-transform: capitalize;
}/*# sourceMappingURL=style.css.map */